# Node
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
myenv/
ENV/
.venv/
*.sqlite3
*.db
*.log

# VSCode
.vscode/

# Mac
.DS_Store

# Autres
*.swp
*.swo
.idea/.env
.env
